<p id="notice"><%= notice %></p>

<h1>Disbursement Transaction Logs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disbursement_transaction_logs.each do |disbursement_transaction_log| %>
      <tr>
        <td><%= link_to 'Show', disbursement_transaction_log %></td>
        <td><%= link_to 'Edit', edit_disbursement_transaction_log_path(disbursement_transaction_log) %></td>
        <td><%= link_to 'Destroy', disbursement_transaction_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disbursement Transaction Log', new_disbursement_transaction_log_path %>
