<p id="notice"><%= notice %></p>

<h1>Disbursement Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disbursement_transactions.each do |disbursement_transaction| %>
      <tr>
        <td><%= link_to 'Show', disbursement_transaction %></td>
        <td><%= link_to 'Edit', edit_disbursement_transaction_path(disbursement_transaction) %></td>
        <td><%= link_to 'Destroy', disbursement_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disbursement Transaction', new_disbursement_transaction_path %>
